* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    padding: 20px 0;
}

.container {
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1850px;
    padding: 0 20px;
    /* background-color: rgb(164, 108, 56); */
}

.row {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.logo-container {
    width: 219.54px;
    padding: 10px 0px 10px 0px;
    gap: 10px;
    margin-left: 15px;
    margin-top: 20px;
}

.nav-container {
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 40px;
    width: Hug (811px)px;
    height: Hug (68px)px;
    margin-top: 20px;
}

.nav-list li {
    margin-right: 20px;
    margin-top: 20px;
}

.nav-list li a {
    font-family: 'Space Grotesk';
    text-decoration: none;
    color: #333;
}

.button {
    margin-left: auto;
    margin-top: 20px;
}

.button .btn {
    background-color: #fff;
    border: 1px solid #333;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 14px;
}

.button .btn:hover {
    background-color: #333;
    color: #fff;
}

.img-full{
    width: 600,46px;
    height: 515px;
    border: 1px;
    display: flex;
    margin-top: 30px;
}

.left-main-text{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 531px;
    height: 481px;
    gap: 35px;
    font-family: 'Space Grotesk';
}
.left-main-text h1{
    font-family: Space Grotesk;
    font-size: 60px;
    font-weight: 500;
    line-height: 76.56px;
    text-align: left;

}
.left-main-text p{
    font-family: Space Grotesk;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;

}

.btn-main .btn {
    width: 264px;
    height: 68px;
    padding: 20px 35px 20px 35px;
    gap: 10px;
    border-radius: 14px;
    

}
.btn:hover {
    background-color: #191A23;
    ;
}


.col-lg-6 .img-nav{
    display: flex;
    flex-direction: column;
    width: 219,54px;
    height: 56px;
    gap: 10px;

}
.col-lg-6{
    gap: 70px;
}

.col-lg {
    margin-top: 50px;
    width: Fixed 1,440px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    padding: 0px, 100px, 0px, 100px;    
}
.img-company{
    gap: 95.91px;

}

.col-lg-5{
    background-color: #B9FF66;
    background-size: auto;
    margin-top: 115px;
    margin-right: 40px;
    width: 15%;
    height: 50px;
    border-radius: 7px;
    gap: 40px;
    font-family: 'Space Grotesk';
    padding: -10px;
}
.container .col-lg-5-7{
    margin-top: 20px;
    margin-bottom: -40px;
}
.col-lg-7{
    font-family: 'Space Grotesk';
    margin-top: 140px;
    margin-bottom: 20px;
    margin-left: 0px;
    width: 600px;
    height: 46px;
    gap: 40px;
    font-size: 18px;
    line-height: 22.97px;
    font-weight: 400px;
}

.card{
    justify-content: space-between;
    padding: 50px;
    margin-bottom: -40px;
    display: flex;
    margin-top: 50px;
    width: fixed 600px;
    border-radius: 45px;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px 0px #191A23;
}
.container .card  {
    padding: 0 20px;   
}

.col1 .card{
    background-color: #F3F3F3;
}
.col1 .card-title{
    background-color: #B9FF66;
}
.col2 .card{
    background-color: #B9FF66;
}
.col2 .card-title{
    background-color: #F3F3F3;
}
.col3 .card{
    background-color: #191A23;
}
.col3 .card-title{
    background-color:#F3F3F3;
}
.col4 .card{
    background-color: #F3F3F3;
}
.col4 .card-title{
    background-color: #B9FF66;
    text-align: left;
}
.col5 .card{
    background-color: #B9FF66;
}
.col5 .card-title{
    background-color: #F3F3F3;
}
.col6 .card{
    background-color: #191A23;
}
.col6 .card-title{
    background-color: #B9FF66;
}

.card-img-top{
    width: 210px;
    height: 147.62px;
    margin-left: 300px;
    margin-top: 10px;
    margin-bottom: -10px;
}
.card-body{
    margin: 0%;
    display: flex;
    align-items: flex-start;
    text-align: left;
    width: 50px;
    margin-bottom: -50px;
}
.card-body .card-title1 {
    font-family: 'Space Grotesk';
    background-color: #B9FF66;
    margin-top: 50px;
    width: 221px;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 20px;
    font-size: 30px; 
    font-weight: bold; 
    line-height: 38.28px; /* Adjust line height to match the spacing between lines */
    white-space: pre; /* Preserve spaces and line breaks as in the image */
}
.card-body .card-title2 {
    font-family: 'Space Grotesk';
    background-color: #B9FF66;
    width: 183px;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 20px;
    font-size: 30px; 
    font-weight: bold; 
    margin-top: -3px;
    line-height: 38.28px; /* Adjust line height to match the spacing between lines */
}
.card-body .card-title3 {
    font-family: 'Space Grotesk';
    background-color: #F3F3F3;
    margin-top: 50px;
    width: 221px;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 20px;
    font-size: 30px; 
    font-weight: bold; 
    line-height: 38.28px; /* Adjust line height to match the spacing between lines */
    white-space: pre; /* Preserve spaces and line breaks as in the image */
}
.card-body .card-title4 {
    font-family: 'Space Grotesk';
    background-color: #F3F3F3;
    width: 183px;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 20px;
    font-size: 30px; 
    font-weight: bold; 
    margin-top: -2px;
    line-height: 38.28px; /* Adjust line height to match the spacing between lines */
}

.card-link {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.card-link img {
    margin-right: 5px;
    margin-left: 20px;
}
.card-link p{
    margin-top: 10px;
    color: #fff;
    margin-left: 5px;
}